[submodule "src/main/java/com/teamadmino/admino_backend"]
	path = src/main/java/com/teamadmino/admino_backend
	url = https://github.com/teamadmino/admino_backend
[submodule "workdir/frontend"]
	path = workdir/frontend
	url = https://github.com/teamadmino/frontend
